* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #1b3c59;
    font-size: 14px;
    font-family: 'Open Sans';
}

a {
    text-decoration: none;
    text-transform: uppercase;
}

header {
    height: 80px;
}

.container {
    height: 100%;
    max-width: 1400px;
    margin: 0 auto;
}

.clearfix::after {
    content: '';
    display: table;
    clear: both;
}

.header-left {
    height: 100%;
    width: 20%;
    float: left;
}

.header-left img {
    height: 60px;
    width: auto;
    margin-top: 10px ;
}

.header-right {
    height: 100%;
    width: 60%;
    float: right;
}

.menu {
    display: flex;
    height: 80px;
    justify-content: space-evenly;
    align-items: center;
}

.menu-item {
    position:relative;
}

.dropdown-menu {
    position:absolute;
    left:0;
    bottom:0;
    transform: translateY(100%);
    padding-top:15px;
    display:none;
}

.dropdown-menu-item {
    margin: 10px 0;
}


.dropdown-menu.active {
    display: block;
}
